* {
  box-sizing: border-box;
}

.productFome {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
}
.product {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 500px;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}
.product > .h2 {
  flex-basis: 80%;
  margin-right: auto;
}
.product > p {
  flex-basis: 30%;
  margin-left: auto;
  text-align: center;
}
.product > p::after {
  content: "원";
}
.product button {
  width: 120px;
  word-break: keep-all;
  margin-left: 20px;
}
.btns {
  display: flex;
  flex-direction: column;
}
.input-modify {
  width: 100%;
}
